#include <windows.h>
#include "Window.h"

RRJ_ICON ICON Icon.ico 

DIALOGBOX DIALOGEX 0,0,300,150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "DialogueBox"
BEGIN 
    PUSHBUTTON "OK", ID_OK,180,125,50,14
    PUSHBUTTON "CANCEL",ID_CANCEL,240,125,50,14
END


